<?xml version="1.0"?>
<!--
/**
* Bakeway
*
* @category  Bakeway
* @package   Bakeway_VendorNotification
* @author    Bakeway
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="bakewaysettings" translate="label" sortOrder="20">
			<label>Bakeway</label>
		</tab>
		<section id="vendor_app_settings" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Vendor Settings</label>
			<tab>bakewaysettings</tab>
			<resource>Bakeway_VendorNotification::config</resource>
			<group id="bakeway_general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Configuration</label>
				<field id="sns_api_key" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>SNS Key</label>
					<comment>The API key provided by aws</comment>
				</field>
				<field id="sns_api_secrete" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>SNS Secrete Key</label>
					<comment>The API secrete provided by aws</comment>
				</field>
				<field id="ios_platform_arn" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>IOS Platform ARN</label>
					<comment>SNS application ARN for ios</comment>
				</field>
				<field id="android_platform_arn" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Android Platform ARN</label>
					<comment>SNS application ARN for android</comment>
				</field>
			</group>
		</section>
	</system>
</config>