<?xml version="1.0"?>
<!--
/**
 * Bakeway
 *
 * @category  Bakeway
 * @package   Bakeway_CustomAttributes
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="HelloWorld_to_order_item" type="Bakeway\CustomAttributes\Plugin\AttributesToOrderItems"/>
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="QuoteItemAddBefore" type="Bakeway\CustomAttributes\Plugin\QuoteItemAddBefore" sortOrder="1" />
    </type>
</config>
