<?xml version="1.0"?>
<!--
/**
 * Bakeway
 *
 * @category  Bakeway
 * @package   Bakeway_VendorNotification
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Bakeway\VendorNotification\Api\Data\SellerdevicedataInterface" type="Bakeway\VendorNotification\Model\Sellerdevicedata" />
  	<preference for="Bakeway\VendorNotification\Api\SellerdevicedataRepositoryInterface" type="Bakeway\VendorNotification\Model\SellerdevicedataRepository" />
</config>
