<?xml version="1.0"?>
<!--
/**
 * Bakeway
 *
 * @category  Bakeway
 * @package   Bakeway_VendorNotification
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="sales_order_place_after">
        <observer name="bakeway_order_place_after" instance="Bakeway\VendorNotification\Observer\SalesOrderPlaceAfter" />
    </event>-->
    <event name="mp_order_save_after">
        <observer name="bakeway_order_place_after" instance="Bakeway\VendorNotification\Observer\SalesOrderPlaceAfter" />
    </event>
    <event name="sales_order_save_after">
        <observer name="bakeway_sales_order_save_after" instance="Bakeway\VendorNotification\Observer\SalesOrderSaveAfter" />
    </event>
</config>