<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Controller\Account\LoginPost">
        <plugin name="CustomloginPost" type="Bakeway\EventsListing\Plugin\Customer\LoginPost" sortOrder="10"
                disabled="false"/>
    </type>


    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="CustomerRedirect" type="Bakeway\EventsListing\Plugin\Customer\Account\CreatePost" disabled="false"
                sortOrder="1"/>
    </type>

</config>
