<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!--<event name="adminhtml_customer_save_after">
        <observer name="bakeway_commissionLog_adminhtml_customer_save_after_observer"
                  instance="Bakeway\CommissionLog\Observer\AdminhtmlSellercommissionlog"/>
    </event>-->
</config>
