<?xml version="1.0"?>
<!--
/**
 * @category  Bakeway
 * @package   Bakeway_Shopapi
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Bakeway_Shopapi" setup_version="1.0.2" />
</config>