<?xml version="1.0"?>
<!--
/**
 * @category  Bakeway
 * @package   Bakeway_PartnerWebapi
 * @author    Bakeway
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Bakeway\PartnerWebapi\Api\SearchPartnerInterface" type="Bakeway\PartnerWebapi\Model\SearchPartnerRepository" />
</config>